{% extends "core/base.core.html" %}
{%load static %}
{% block content %}
<div style="background-color: #fff;">
  <!-- <div class="container text-center" style="background-image: url('about-us-policy-bg.jpg'); margin-top:7px;"> -->

    <!-- <h2>About Us</h2>
      <p><a href="{% url 'home' %}">Home</a>/About Us</p>
    </div> -->

    <div  text-center style="margin-bottom:2rem;">

      <h2 style="margin-top: 20px;">Our System Provide Smart Health Disease Prediction System</h2><br>
      <p>The health industry has been growing a lot from past few years .This technique has gained a lot of importance
        in medical areas. Ithas been calculated that a care hospital may generate five terabytes of data in the year.
      </p>

    </div>
    


    <div class="card-deck" style="width:1125px;margin:auto; ">
      <div class="card "
        style="box-shadow:0px 5px 10px 1px var(--grayishBlue);border-bottom: 3px solid rgb(68, 37, 208);">
        <img class="card-img-top" src="{% static 'core/img/about/about1.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">What we do</h5>
          <p class="card-text">You went into healthcare to help people - we're here to help you. Healthcare clinicians
            and administrators
            spend an inordinate amount of time collecting and analyzing information in patient charts.</p>
        </div>

      </div>
      <div class="card"
        style="box-shadow:0px 5px 10px 1px var(--grayishBlue);border-bottom: 3px solid rgb(97, 208, 37);">
        <img class="card-img-top" src="{% static 'core/img/about/about2(2).jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Our Mission</h5>
          <p class="card-text">Our mission is to make it easy for clinicians to deliver the best care to every patient
            every time.</p>
        </div>

      </div>
      <div class="card"
        style="box-shadow:0px 5px 10px 1px var(--grayishBlue);border-bottom: 3px solid rgb(208, 37, 37);">
        <img class="card-img-top" src="{% static 'core/img/about/about3.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Our History</h5>
          <p class="card-text">A smart health prediction system is defined as a healthcare system that is intended to
            assist health
            professionals in their decision- making process regarding to medical situations.</p>
        </div>
      </div>
    </div>






    <div>
      <h2 style="margin-top: 50px;margin-bottom: 50px;">Meet The Team</h2>
    </div>




    <div class="row g-2  ">
      <!-- <div class="col-md-3" > -->
      <div class="card p-2 py-3 text-center dmr "
        style="border-bottom: 3px solid rgb(68, 37, 208); border-top: 3px solid rgb(68,37,208); ">
        <div class="img mb-2" style=" padding-right: 3rem;"> <img src="https://i.imgur.com/LohyFIN.jpg" width="70"
            class="rounded-circle"> </div>
        <h5 class="mb-0">Patey Cruiser</h5> <small>Neurosurgeon</small>
        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
            class="fa fa-star"></i> </div>
        <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
      </div>
      <!-- </div> -->
      <!-- <div class="col-md-3"> -->
      <div class="card p-2 py-3 text-center dmr"
        style="border-bottom: 3px solid rgb(24, 139, 141); border-top: 3px solid rgb(24, 139, 141);">
        <div class="img mb-2" style=" padding-right: 3rem;"> <img src="https://i.imgur.com/C4egmYM.jpg" width="70"
            class="rounded-circle"> </div>
        <h5 class="mb-0">Paul Moliv</h5> <small>Dentist</small>
        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
        <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
      </div>
      <!-- </div> -->
      <!-- <div class="col-md-3"> -->
      <div class="card p-2 py-3 text-center dmr"
        style="border-bottom: 3px solid rgb(3, 255, 192); border-top: 3px solid rgb(3, 255, 192); ">
        <div class="img mb-2" style=" padding-right: 3rem;"> <img src="https://i.imgur.com/0LKZQYM.jpg" width="70"
            class="rounded-circle"> </div>
        <h5 class="mb-0">Anna Maul</h5> <small>Eye Specialist</small>
        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
            class="fa fa-star"></i> </div>
        <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
      </div>
    </div>
    <div class="row g-2">
      <!-- </div> -->
      <!-- <div class="col-md-3"> -->
      <div class="card p-2 py-3 text-center dmr"
        style="border-bottom: 3px solid rgb(208, 37, 182); border-top: 3px solid rgb(208, 37, 182); ">
        <div class="img mb-2" style=" padding-right: 3rem;"> <img src="https://i.imgur.com/ZSkeqnd.jpg" width="70"
            class="rounded-circle"> </div>
        <h5 class="mb-0">Gail Forcewind</h5> <small>Urology</small>
        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
            class="fa fa-star"></i> </div>
        <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
      </div>
      <!-- </div> -->
      <!-- <div class="col-md-3"> -->
      <div class="card p-2 py-3 text-center dmr"
        style="border-bottom: 3px solid rgb(220, 234, 27); border-top: 3px solid rgb(220, 234, 27); ">
        <div class="img mb-2" style=" padding-right: 3rem;"> <img src="https://i.imgur.com/MZm1LNz.jpg" width="70"
            class="rounded-circle"> </div>
        <h5 class="mb-0">Patey Cruiser</h5> <small>Neurosurgeon</small>
        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
            class="fa fa-star"></i> </div>
        <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
      </div>
      <!-- </div> -->
      <!-- <div class="col-md-3"> -->
      <div class="card p-2 py-3 text-center dmr"
        style="border-bottom: 3px solid rgb(119, 246, 21); border-top: 3px solid rgb(119, 246, 21); ">
        <div class="img mb-2" style=" padding-right: 3rem;"> <img src="https://i.imgur.com/HFpxxJz.jpg" width="70"
            class="rounded-circle"> </div>
        <h5 class="mb-0">Patey Cruiser</h5> <small>Neurosurgeon</small>
        <div class="ratings mt-2"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
            class="fa fa-star"></i> </div>
        <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase">Book Appointment</button> </div>
      </div>
    </div>
  </div>
</div>

</div>






{% endblock %}